API_ID=24395647
API_HASH=0aa759ca1e37cf5efd89348df8b01ff3
BOT_TOKEN=7693545148:AAHJCx-PO-5vaZsXvkb1QatR69FV6tKXT0M
LOG_GROUP_ID=-1002332612274
MONGO_DB_URI=mongodb+srv://ajay211st:vish123@musicbot.e8zz328.mongodb.net/?retryWrites=true&w=majority&appName=musicbot
OWNER_ID=7850496630
STRING_SESSION=BQF0P38Ap20pEVVZELl5N53YLBSxqm0jkiik7L1wLZfDpvnekYFT-ifrGcdLVsjeXKmt4j0tiE-mAVxi__k4lNnfp0g-zfsC-DD0EPhPOqPKpvZYBcNWj1EXLfVsuRlTCW2SdoUk0xarGM9C57A1yvC0H2-aeB7lRXZufLcM4GHlVI9R-cjJR4VBm2zqUOfIEwEE-udC0tl93V723gRL3aq8x5YzUhfMGHkLF1Yty93FIYTdC3KyvV3T76woI91R8FQLhOnHQtCabEE05TVA4-ERCA5-T6JUP8SVAsu9soDiMz-rPfr180ea9SYWiKiK15SyLwPWnLU8EdwN7c8F3XiT3nAt4wAAAAHT7RJ2AA
API_KEY=NxGBNexGenBots3fd157




